<h3>
    Hello {{ user.getFname() }} {{ user.getLname() }}
</h3>

<p>
    <b>Username :</b> {{user.getUsername()}}<br>
    <b>New Password :</b> {{user.getConfirmationToken()}}<br>
    Click <b><a href="{{ url('forgot_password', {'token': user.getConfirmationToken()}) }}">here</a></b> to start using new Password.<br>
    You can always change it later.
</p>