<h3>
    Hello {{ user.getFname() }} {{ user.getLname() }}
</h3>

<p>
    Please copy <b>New Password</b> then you can start using it after clicking the link below :<br><br>
    <b>Username :</b> {{user.getUsername()}}<br>
    <b>New Password :</b> {{user.getConfirmationToken()}}<br><br>
    Click <a href="{{ url('forgot_password', {'token': user.getConfirmationToken()}) }}"><b>here</b></a> to start using new Password.<br>
    You can always change it later.
</p>